/* Conteneur parent pour l'image et le texte */
.image-container {
  margin-top: 0px;
  margin-right: 90px;
  width: 90%;
}

/* Style de l'image */
.image-container img {
    margin-top: 0px;
    width: 100%; /* Pour occuper la largeur de la div parente */
    height: 100%; /* Pour occuper la hauteur de la div parente */
    object-fit: cover; /* Pour maintenir le ratio d'aspect de l'image et la faire occuper toute la div */
    display: block; /* Pour résoudre le problème de l'espace réservé sous l'image */
  }

.badge-step1 {
  background-color: hsl(206, 94%, 87%);
  color: rgb(26, 24, 24);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px;
  height: 35px;
  margin-top: 50px; /* Ajustez cette valeur selon vos besoins */
}


.badge-step2 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step3 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step4 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.niv1{
  position: absolute;
  top: 12.5%;
  left: 46.5%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.niv2{
  position: absolute;
  top: 26.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.niv3{
  position: absolute;
  top: 42.5%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.niv4{
  position: absolute;
  top: 60%;
  left: 45.9%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.ml-2{
  color: #b9b9c0;;
}

.form-text{
  color: #b9b9c0;
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.Personal{
  font-size: 16px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Ubuntu', sans-serif;
}

.expli{
  margin-left: 8px;
  font-family: 'Anton', sans-serif;
  font-family: 'DM Serif Display', serif;
}

.step1{
  position: absolute;
  top: 8%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.step2{
  position: absolute;
  top: 23%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.step3{
  position: absolute;
  top: 39%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.step4{
  position: absolute;
  top: 56%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.information{
  margin-top: 50px;
}

.bouton{
  position: absolute;
  top: 121%;
  left: 89%;
}

.btn-custom {
  background-color: hsl(213, 96%, 18%); 
  color: #ffffff; 
}




/* Style pour les cercles mobiles */
.mobile-circles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* Style pour le formulaire mobile */
.information1 {
  background-color: #f8f9fa; /* Couleur de fond */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px; /* Ajustez la marge selon vos besoins */
}

/* Style pour le formulaire mobile - Titre */
.information1 h1 {
  font-size: 16px;
}

.information1.d-lg-none {
  position: relative;
  top: -100px; 
  background-color: #fff; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width: 90%;
  left: 5%;
}

.information1 input {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

/* Style pour le formulaire mobile - Texte d'information */
#passwordHelpBlock {
  font-size: 16px;
  color: #6c757d; /* Couleur du texte */
}

/* Style pour le formulaire mobile - Champs de saisie */
.form-control {
  margin-bottom: 15px;
}

/* Style pour le bouton du formulaire mobile */
.boutonn button {
  background-color: hsl(213, 96%, 18%);
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Style pour le bouton du formulaire mobile au survol */

.boutonn{
  position: absolute;
  top: 110%;
  left: 65%;
}

.step11{
  position: absolute;
  top: 7%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}

.step22{
  position: absolute;
  top: 7.8%;
  left: 44%;
  transform: translate(-50%, -50%);
  color: white;
}

.step33{
  position: absolute;
  top: 7.9%;
  left: 58%;
  transform: translate(-50%, -50%);
  color: white;
}

.step44{
  position: absolute;
  top: 7.9%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}


.badge-step11 {
  background-color: hsl(206, 94%, 87%);
  color: rgb(26, 24, 24);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px;
  height: 35px;
  margin-top: 50px; /* Ajustez cette valeur selon vos besoins */
}

.badge-step22 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step33 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step44 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}