
@font-face {
  font-family: 'ubuntubold';
  src: url('assets/fonts/webfontkit/ubuntu-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/webfontkit/ubuntu-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubunturegular';
  src: url('assets/fonts/webfontkit/ubuntu-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/webfontkit/ubuntu-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumedium';
  src: url('assets/fonts/webfontkit/ubuntu-medium-webfont.woff2') format('woff2'),
       url('assets/fonts/webfontkit/ubuntu-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Conteneur parent pour l'image et le texte */
.image-container {
  margin-top: 0px;
  margin-right: 90px;
  width: 90%;
}

/* Style de l'image */
.image-container img {
    margin-top: 0px;
    width: 100%; /* Pour occuper la largeur de la div parente */
    height: 100%; /* Pour occuper la hauteur de la div parente */
    object-fit: cover; /* Pour maintenir le ratio d'aspect de l'image et la faire occuper toute la div */
    display: block; /* Pour résoudre le problème de l'espace réservé sous l'image */
  }

.badge-step1 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step2 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step3 {
  background-color: rgb(200, 238, 195);
  color: rgb(26, 24, 24);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.badge-step4 {
  background-color: transparent;
  color: rgb(250, 245, 245);
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  width: 35px; 
  height: 35px;
  margin-top: 40px;
}

.ml-2{
  color: #3d3d41;
  font-family: 'ubunturegular';
}

.Personal{
  font-family: 'ubuntubold';
}

.expli{
  margin-left: 48px;
  font-family: 'ubuntumedium';
}

.step1{
  position: absolute;
  top: 8%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
}

.step2{
  position: absolute;
  top: 23%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
}

.step3{
  position: absolute;
  top: 39%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
}

.step4{
  position: absolute;
  top: 56%;
  left: 33.5%;
  transform: translate(-50%, -50%);
  color: white;
}

.information{
  margin-top: 50px;
}

.bouton{
  position: absolute;
  top: 133%;
  left: 88%;
}

.btn-custom {
  background-color: #1e5286; 
  color: #ffffff; 
}

.retour{
  position: absolute;
  top: 135%;
}

.my-div {
  background-color: #cae6c1; 
  border: 1px solid #dee2e6; 
  border-radius: 10px; 
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 60px;
  width: 970px;
}

.my-div1 {
  background-color: #fafcf9; 
  border: 1px solid #dee2e6; 
  border-radius: 10px; 
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  height: 60px;
  width: 972px;
}

.form-check b{
  position: absolute;
  margin-top: -30px;
}

.form-check p{
  position: absolute;
  margin-top: -17px;
}

.form-check h6{
  position: absolute;
  margin-top: -22px;
  margin-left: 865px;
}

.form-text{
  margin-left: 15px;
}

.Personal{
  margin-left: 15px;
}